@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
<h1 class="display-4">Welkom bij Excellent Taste</h1>
</div>
<div class="text-center">
    <h2 class="display-4">Drank- en Hapjeskaart</h2>
    <p>Bekijk hier alvast de Drank- en Hapjeskaart voordat u langskomt om te eten en te drinken!</p>
</div>
<div class="row">
    <div class="column-">
        <img src="Content/Images/DrankHapjes1.png" alt="DrankHapjes1" style="width:100%">
    </div>
    <div class="column">
        <img src="Content/Images/DrankHapjes2.png" alt="DrankHapjes2" style="width:100%">
    </div>
</div>
<div class="text-center">
    <h2 class="display-4">Menukaart</h2>
    <p>Bekijk hier alvast de Menukaart voordat u langskomt om te eten!</p>
</div>
<div class="row">
    <div class="column-1">
        <img src="Content/Images/Menu1.png" alt="Menu1" style="width:100%">
    </div>
    <div class="column">
        <img src="Content/Images/Menu2.png" alt="Menu2" style="width:100%">
    </div>
</div>
